argparse
bs4
Pillow
pyparsing
python-dateutil
Skype4Py
XlsxWriter

# wxPython is not available via pip. Can be installed in Ubuntu with:
#   sudo apt-get install python-wxgtk2.8 python-wxtools wx2.8-i18n libwxgtk2.8-dev libgtk2.0-dev
